<div class="reviews-container">
    <h2>DMC Delorean Reviews</h2>
    <div class="reviews">
        <ul>
        <li><p>"So fast it's almost like traveling in time." (4/5)</p></li>
        <li><p>"Coolest ride on the road." (4/5)</p></li>
        <li><p>"I'm feeling McFly!" (5/5)</p></li>
        <li><p>"The most futureistic ride of our day." (4.5/5)</p></li>
        <li><p>"80's lovin and I love it!." (5/5)</p></li>
        </ul>
    </div>
</div>