<% if (title) { %>
    <h1><%= title %></h1>
<% } %>

<%# messages () %>
<a class="management-access" title="Click to add a new classification" href="/inv/add-classification">Add New Classification</a>
<a class="management-access" title="Click to add a new vehicle" href="/inv/add-inventory">Add New Vehicle</a>

<h2>Manage Inventory</h2>

<table id="InvetoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src=""../../js/inventory.js"></script>