<% if (title) { %>
    <h1><%= title %></h1>
<% } %>

<%# messages () %>
<a class="management-access" title="Click to add a new classification" href="/inv/add-classification">Add New Classification</a>
<a class="management-access" title="Click to add a new vehicle" href="/inv/add-inventory">Add New Vehicle</a>

<h2>Manage Inventory</h2>

<!-- Classification Dropdown -->
<form id="classificationForm">
  <label for="classificationList">Choose a classification:</label>
  <%- classificationDropdown %>
</form>

<!-- Inventory Table -->
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>

<!-- Scripts -->
<script src="/js/inventory.js"></script>